<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>布局header</title>
</head>
<body >
	
	<!-- 
		长文本缩略显示，title显示全部文本
		例如：“【歌诗达邮轮-维多利亚号】4晚5日游 月付 160元*10期 XG3”  显示 “【歌诗达邮轮-维多利亚号】4晚5日游 月付 160....”
	 -->
	<span th:fragment="text_title(targetText)" th:title="${targetText}" th:text="${#strings.isEmpty(targetText)} ? '' : (${#strings.length(targetText)}>10?${#strings.substring(targetText,0,10)+'...'}:${targetText})"></span>
	
	
	
	
	
</body>
</html>