<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>公用头部</title>
</head>
<body layout:fragment="header(name)">
  <header class="topbar topbar-inverse">
    <h1 class="topbar-brand">
      <a
        href="/"
        class="text-ir">运营后台管理系统</a><span class="badge badge-warning">ops</span>
    </h1>
    <ul class="nav nav-pills topbar-nav">
      <li th:class="${name}=='fenqi'?'active':''"><a href="/fenqi">分期栏目</a></li>
      <li th:class="${name}=='licai'?'active':''"><a href="/licai">理财栏目</a></li>
    </ul>
  </header>
</body>
</html>