<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">后台管理系统</title>
<meta charset="UTF-8" />
<link
  rel="stylesheet"
  type="text/css"
  th:href="@{'/resources/public/common.min.css'}" />
<link
  rel="stylesheet"
  type="text/css"
  th:href="@{'/resources/public/plugins/layout/layout-default-latest.css'}" />
<link
  rel="stylesheet"
  type="text/css"
  th:href="@{'/resources/public/styles/frame.css'}" />
<script
  type="text/javascript"
  th:src="@{'/resources/public/scripts/jquery/jquery.min.js'}"></script>
<script
  type="text/javascript"
  th:src="@{'/resources/public/plugins/jquery-ui-latest.js'}"></script>
<script
  type="text/javascript"
  th:src="@{'/resources/public/plugins/layout/jquery.layout-latest.js'}"></script>
<script
  type="text/javascript"
  th:src="@{'/resources/public/plugins/collapse/jquery.collapse.js'}"></script>
<script
  type="text/javascript"
  th:src="@{'/resources/public/plugins/collapse/jquery.collapse_cookie_storage.js'}"></script>
<script
  type="text/javascript"
  th:src="@{'/resources/public/plugins/collapse/jquery.collapse_storage.js'}"></script>

<script
  type="text/javascript"
  th:src="@{'/resources/public/scripts/global.js'}"></script>
</head>
<body>
  <div class="ui-layout-north">
    <div
      class="layout-topnav"
      layout:fragment="header"></div>
  </div>
  <div class="ui-layout-center">
    <div
      layout:fragment="content"
      class="page-content">place page content here!</div>
  </div>
  <div
    class="ui-layout-west"
    style="display: none;">
    <div
      class="ui-layout-content"
      style="overflow: auto;"
      layout:fragment="dockmenus">put your left dock menu here
      using layout:fragment</div>
  </div>
  <div class="ui-layout-south">
    <div
      class="footer"
      layout:include="footer::footer"></div>
  </div>
</body>
</html>