<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<!-- 推荐分期游模板 -->

  <!-- 
  	
  	1. 下面dom为recommend-3(img,info,img2,info2,img3,info3)模板调用方式
  	<div th:replace="recommend :: 
 	   	recommend-3(img='http://localhost:4002/public/home/assets/activated/mascot.png',
 	   		info='【歌诗达邮轮-维多利亚号】4晚5日游 月付 160元*10期 XG1',
 	   		img2='http://localhost:4002/public/home/assets/activated/mascot.png',
 	   		info2='【歌诗达邮轮-维多利亚号】4晚5日游 月付 160元*10期 XG2',
 	   		img3='http://localhost:4002/public/home/assets/activated/mascot.png',
 	   		info3='【歌诗达邮轮-维多利亚号】4晚5日游 月付 160元*10期 XG3')"></div>
  
   -->
  <div class="container"  th:fragment="recommend-3(img,info,img2,info2,img3,info3)">
 	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img th:src="@{${img}}" alt="同程旅游"/>
	      <h3 class="thumbnail-caption" th:text="${info}"></h3>
	    </div>
	  </div>
	   <div class="col-md-4">
	    <div class="thumbnail">
	      <img th:src="@{${img2}}" alt="同程旅游"/>
	       <h3 class="thumbnail-caption" th:text="${info2}"></h3>
	    </div>
	  </div>
	   <div class="col-md-4">
	    <div class="thumbnail">
	      <img th:src="@{${img3}}" alt="同程旅游"/>
	       <h3 class="thumbnail-caption" th:text="${info3}"></h3>
	    </div>
	  </div>
  </div>
  
  <!-- 
  	 1. 下面dom为recommend-3-1(img,info)模板调用方式
  		<div class="container">
			<div
				th:replace="recommend :: 
		 	   	recommend-3-1(img='http://localhost:4002/public/home/assets/activated/mascot.png',
		 	   		info='【歌诗达邮轮-维多利亚号】4晚5日游 月付 160元*10期 XG1')"></div>
			<div
				th:replace="recommend :: 
		 	   	recommend-3-1(img='http://localhost:4002/public/home/assets/activated/mascot.png',
		 	   		info='【歌诗达邮轮-维多利亚号】4晚5日游 月付 160元*10期 XG2')"></div>
			<div
				th:replace="recommend :: 
		 	   	recommend-3-1(img='http://localhost:4002/public/home/assets/activated/mascot.png',
		 	   		info='【歌诗达邮轮-维多利亚号】4晚5日游 月付 160元*10期 XG3')"></div>
		</div>
  
   -->
  <div class="col-md-4" th:fragment="recommend-3-1(img,info)">
    <div class="thumbnail">
      <img th:src="@{${img}}" alt="同程旅游"/>
      <h3 class="thumbnail-caption" th:text="${info}"></h3>
    </div>
  </div>
  
  <div class="col-md-6" th:fragment="recommend-2-1(img,info)">
    <div class="thumbnail">
      <img th:src="@{${img}}" alt="同程旅游"/>
      <h3 class="thumbnail-caption" th:text="${info}"></h3>
    </div>
  </div>
  
  <div class="col-md-12" th:fragment="recommend-1(img,info)">
    <div class="thumbnail">
      <img th:src="@{${img}}" alt="同程旅游"/>
      <h3 class="thumbnail-caption" th:text="${info}"></h3>
    </div>
  </div>


</body>
</html>