<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
<title>Content page 1</title>
<script type="text/javascript">
  $(function() {
	// write your own javascript here if you need.
  });
</script>
</head>
<body>
  <div layout:fragment="header">
    <div layout:include="header:: header('fenqi')"></div>
  </div>
  <div layout:fragment="dockmenus">
    <div layout:include="fenqi/left_dock_menu::menus"></div>
  </div>
  <div layout:fragment="content">分期首页内容区域</div>
</body>
</html>