<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
</head>
<body>
  <div layout:fragment="menus">
    <div
      class="dock-menus"
      data-collapse="accordion persist">
      <h2 class="menu-title">菜单二</h2>
      <ul class="menu-items">
        <li class="item"><a href="#">菜单项1</a></li>
        <li class="item"><a href="#">菜单项2</a></li>
        <li class="item"><a href="#">菜单项3</a></li>
        <li class="item"><a href="#">菜单项4</a></li>
      </ul>
      <h2 class="menu-title">Menu2</h2>
      <ul class="menu-items">
        <li class="item">菜单项1</li>
        <li class="item">菜单项2</li>
        <li class="item">菜单项3</li>
        <li class="item">菜单项4</li>
      </ul>
    </div>
  </div>
</body>
</html>