.topbar-brand {
  position: relative;
  margin-right: 20px;
  z-index: 10;
}
.topbar-brand .text-ir {
  display: block;
  margin-right: 10px;
  height: 50px;
  width: 80px;
  background: url(../assets/dashboard.png) no-repeat left center;
  background-size: 60px auto;
}
.topbar-brand .badge {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 20;
}
.layout-topnav {
  position: relative;
  overflow: initial !important;
  z-index: 100;
}
.layout-topnav .topbar {
  margin-bottom: 0;
}
.layout-topnav .topbar a {
  font-weight: bold;
}
.page-body {
  font-size: 14px;
}
.scrollarea .scrollarea-content {
  padding: 5px;
  padding-right: 0;
}
.nav {
  margin: 0;
  padding: 0;
}
.nav-left-dock {
  min-width: 230px;
}
.nav-left-dock .menu-submenu {
  margin-bottom: 10px;
}
.nav-left-dock.menu {
  border: 0;
}
.nav-left-dock.menu-sub {
  color: #777;
}
.nav-left-dock.menu-sub .menu-item {
  font-style: 16px;
}
.nav-left-dock .menu-title-en {
  font-size: 10px;
  color: #999;
  font-weight: 400;
  margin-left: 5px;
  vertical-align: bottom;
}
.nav-left-dock .menu-submenu-title {
  font-size: 16px;
  font-weight: 700;
  padding-left: 8px;
  color: #555;
  border-left: 3px solid #DCD8D8;
}
.nav-left-dock .menu-submenu-title:after {
  display: none;
}
.nav-left-dock .menu-submenu-open .menu-submenu-title {
  border-left-color: #3bb4f2;
}
.nav-left-dock a {
  color: #777;
  font-size: 16px;
  display: block;
}
.page-content {
  overflow: hidden;
  padding-top: 10px;
  word-wrap: break-word;
  counter-reset: header2;
  padding: 10px;
}
.page-content > h2 {
  counter-increment: header2;
  counter-reset: header3;
}
.page-content > h2:before {
  content: counter(header2) ". ";
}
.page-content > h3 {
  counter-increment: header3;
  counter-reset: header4;
}
.page-content > h3:before {
  content: counter(header2) "." counter(header3) " ";
}
.page-content > h4 {
  counter-increment: header4;
}
.page-content > h4:before {
  content: counter(header2) "." counter(header3) "." counter(header4) " ";
}
.page-content > h2:before,
.page-content > h3:before,
.page-content > h4:before {
  color: #888;
  font-weight: 400;
}
.footer {
  padding: 10px 15px;
  font-size: 1.4rem;
  background: #555;
  color: #999;
}
.ui-layout-pane {
  padding: 0;
  border: 0;
}
.ui-layout-toggler-west-closed .content {
  color: #033;
  font-size: 12px !important;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-right: 1px;
  font-family: Lucida Grande, Lucida Sans, Arial, Helvetica, sans-serif;
}
.dock-menus .menu-title {
  border-left-color: #3bb4f2;
  font-size: 16px;
  font-weight: 700;
  padding-left: 8px;
  color: #555;
  border-left: 3px solid #DCD8D8;
  padding: 0 14px;
  line-height: 32px;
  height: 32px;
  margin: 5px 0;
}
.dock-menus .menu-title a {
  display: block;
  color: #555;
}
.dock-menus .menu-title.open {
  border-left-color: #3bb4f2;
}
.dock-menus .menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 18px;
}
.dock-menus .menu-items .item {
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  color: #777;
}
.dock-menus .menu-items .item a {
  color: #777;
}
